*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.hero{
    padding-left: 100px;
    padding-right: 100px;
   
}

.carousel-inner{

   background-size: cover;
    background-position:inherit;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    
    
}

@media (max-width:768px) {
    .hero{
        width: 100% !important;
    }
}